.profilepic-container {
	width:100%;
	max-width:240px;
	height:250px;
	border: 3px solid #fff;
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
	padding-bottom:30px;
	position: relative;
}

.profilepicdiv {
	width: 100%;
	height: calc(100% - 10px);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f5f5f5;
}

.name {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
}

.editRemoveButton {
	background-color: #000;
	border:0;
	color: #fff;
	opacity: 0.8; 
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	height: 50px;
	cursor: pointer;
}

.editRemoveButton i{
	font-size: 17px;
}

.editRemoveButton input {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	position: absolute;
}