<div style="text-align: center">
    <img src="../../../assets/img/final_logo.png" style="width: 100px; height: 85px; margin-top:5vh">
    <br><br>
    <!-- LOGIN VIEW -->
    <form *ngIf="currentView == 'login'">
        <h2 style="font-family:'Roboto'">Sign in</h2>
        <br><br>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-user">&nbsp;&nbsp;&nbsp;</i>
            <input matInput [(ngModel)]="phoneOrEmail" type="text" placeholder="Phone Number or E-mail Address" color="accent" name="phone" required>
        </mat-form-field>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
            <input matInput [(ngModel)]="user.password" name="password" placeholder="Password" color="accent" type="password" required>
        </mat-form-field>
        <span style="color:#e91e63; cursor: pointer; margin-top:-5px" class="float-right" (click)="currentView='forgotpassword'">Forgot Password</span>
        <br><br><br>
        <button mat-raised-button style="width: 100%; max-width: 350px; height: 50px"  color="accent" (click)="login($event)">SIGN IN</button>
        <br><br>
        <span>Not registered yet? <span style="color:#e91e63; cursor: pointer" (click)="currentView='signup'">Create Account</span></span>
    </form>

    <!-- SIGN UP VIEW -->
    <form *ngIf="currentView == 'signup'">
        <h2 style="font-family:'Roboto'">Sign up</h2>
        <br><br>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-user">&nbsp;&nbsp;&nbsp;</i>
            <input matInput [(ngModel)]="user.name" name="name" placeholder="Name" color="accent" type="text" required>
        </mat-form-field>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-envelope">&nbsp;&nbsp;&nbsp;</i>
            <input matInput [(ngModel)]="user.email" name="email" placeholder="Email" color="accent" type="email" required>
        </mat-form-field>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-phone">&nbsp;&nbsp;&nbsp;</i>
            <input matInput [(ngModel)]="user.phone" name="phone" placeholder="Phone Number" color="accent" type="phone" required>
        </mat-form-field>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
            <input matInput [(ngModel)]="user.password" name="password" placeholder="Password" color="accent" type="password" required>
        </mat-form-field>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
            <input matInput [(ngModel)]="reppassword" name="reppassword" placeholder="Repeat Password" color="accent" type="password" required>
        </mat-form-field>
        <br>
        <button mat-raised-button style="width: 100%; max-width: 350px; height: 50px"  color="accent" (click)="signup($event)">SIGN UP</button>
        <br><br>
        <span>Already have an account? <span style="color:#e91e63; cursor: pointer" (click)="currentView='login'">Sign in</span></span>
    </form>

    <!-- OTP VIEW -->
    <form *ngIf="currentView == 'otp'">
        <p>Please enter the OTP sent to your mobile</p>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
            <input [(ngModel)]="otp" name="otp" matInput placeholder="Enter OTP" color="accent" type="password" required>
        </mat-form-field>
        <br>
        <button mat-raised-button style="width: 100%; max-width: 350px; height: 50px"  color="accent" (click)="submitOtp($event)">SUBMIT</button>
    </form>

    <!-- FORGOT PASSWORD VIEW -->
    <form *ngIf="currentView == 'forgotpassword'">
        <h2 style="font-family:'Roboto'">Forgot Password?</h2>
        <p>An OTP will sent to the number below</p>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-phone">&nbsp;&nbsp;&nbsp;</i>
            <input [(ngModel)]="fp_phone" name="fp_phone" matInput placeholder="Phone" color="accent" type="phone" required>
        </mat-form-field>
        <br>
        <button mat-raised-button style="width: 100%; max-width: 350px; height: 50px"  color="accent" (click)="forgotPassword1($event)">SEND OTP</button>
    </form>

    <!-- UPDATE PASSWORD -->
    <form *ngIf="currentView == 'updatePassword'">
        <p>Please enter your new password</p>
        <br><br>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
            <input [(ngModel)]="newPassword" name="newPassword" matInput placeholder="Enter New Password" color="accent" type="password" required>
        </mat-form-field>
        <mat-form-field style="width: 100%; max-width: 350px"  color="accent">
            <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
            <input [(ngModel)]="repeatNewPassword" name="repeatNewPassword" matInput placeholder="Repeat New Password" color="accent" type="password" required>
        </mat-form-field>
        <br>
        <button mat-raised-button style="width: 100%; max-width: 350px; height: 50px"  color="accent" (click)="updatePassword($event)">CHANGE PASSWORD</button>
    </form>
    
    <br><br>
</div>