<mat-toolbar color="accent" class="toolbar">
    <mat-toolbar-row>
        <span>
            <a style="color: #e91e63;text-decoration:none" href="/">magiKslate</a>
        </span>
        <span class="schoolrole" *ngIf="showCreateSchoolButton">
            <span>
                <button mat-flat-button class="flat-button" data-toggle="dropdown">ADMIN</button>
                <div class="dropdown-menu" >
                    <button (click)="switchRole(1)" class="dropdown-item">Admin</button>
                    <button (click)="switchRole(2)" class="dropdown-item">Teacher</button>
                    <button (click)="switchRole(3)" class="dropdown-item">Parent</button>
                </div>
            </span>
            &nbsp;
            <span>
                <span style="cursor: pointer" data-toggle="dropdown">Maharaja Agrasen Vidyalaya</span>
                <div class="dropdown-menu" >
                    <button (click)="switchSchool(1)" class="dropdown-item">Maharaja Agrasen Vidyalaya</button>
                    <button (click)="switchSchool(1)" class="dropdown-item">School 2</button>
                    <button (click)="switchSchool(1)" class="dropdown-item">School 3</button>
                    <div class="dropdown-divider"></div>
                    <div class="w-100 text-center">
                        <button mat-flat-button routerLink="schoolCreate/" color="accent" class="w-75"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;CREATE SCHOOL</button>
                    </div>
                </div>
            </span>
        </span>
        <span class="spacer"></span>
        <div *ngIf="isLoggedIn" style="margin-right:20px">
            <button type="button" class="btn toolbar-signin" id="locationInput" data-toggle="dropdown">
                {{appNetworkService.getUser().name}}
                &nbsp;&nbsp;
                <img *ngIf="profilePic" [src]="profilePic" class="profilepic rounded-circle">
                <i *ngIf="!profilePic" class="ipic fa fa-user"></i>
            </button>
            <div class="dropdown-menu"  style="margin-right:20px">
                <!-- <button [routerLink]="['dashboard']" class="dropdown-item"><i class="fa fa-tachometer-alt fa-fw"></i>&nbsp;&nbsp;&nbsp;Dashboard</button> -->
                <!-- <button (click)="profile($event)" class="dropdown-item"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;&nbsp;Profile</button> -->
                <button *ngIf="schoolProfileUrl" [routerLink]="schoolProfileUrl" class="dropdown-item"><i class="fa fa-university"></i>&nbsp;&nbsp;&nbsp;School Profile</button>
                <button (click)="settings($event)" class="dropdown-item"><i class="fa fa-cog fa-fw"></i>&nbsp;&nbsp;&nbsp;Settings</button>
                <div class="dropdown-divider"></div>
                <button (click)="logout($event)" class="dropdown-item"><i class="fa fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;Logout</button>
            </div>
        </div>
        <div *ngIf="!isLoggedIn">
            <button type="button" class="btn toolbar-signin" (click)="showAuthModal()">SIGN IN</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>