.toolbar{
	-webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75) !important;
	box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75) !important;
	background-color: #fff;
	color: #0f0f0f;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.headerDivider {
	border-right:1px solid #16222c; 
}

.schoolrole {
	margin-left: 170px;
	font-weight: 100;
}

.spacer {
	flex: 1 1 auto;
}

.toolbar-signin {
	color: #333;
	outline: none;
	box-shadow: none;
	font-weight: 400;
}


.dropdown-item:hover {
	background-color: #F5F5F5;
	cursor: pointer;
}

.dropdown-item:active {
	background-color: #EEEEEE;
	color: #000;
}

.profilepic {
	width: 40px;
	height: 40px;
}

.ipic {
	padding-top: 2px;
	font-size: 22px;
	border: 2px solid #e91e63;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #e91e63;
}

.flat-button {
	border-radius: 0px;
	color: #fff;
	background-color: #2AAB04;
}