<h2 class="font-weight-light">Basic Information</h2>
<p>Tell us about your school. Fields marked with * are compulsory.</p>
<br>
<form>
    <div class="row">
        <ng-container *ngIf="showImageUploader">
            <div class="col col-lg-6">
                <app-uploader style="height:360px" type='png' (onUpdate)="onSchoolImageUpload($event)"></app-uploader>
            </div>
        </ng-container>
        <div [ngClass]="{'col': true, 'col-lg-6': showImageUploader, 'col-lg-12': !showImageUploader}">
            <mat-form-field style="width: 100%" color="accent">
                <input [(ngModel)]="school.name" name="name" matInput placeholder="School Name" type="text" required>
            </mat-form-field>
            <app-tagmaker placeholder="Add Institute Categories" [selectedTagList]="school.instituteCategoryList" [tagList]="instituteCategories" required="true" (onUpdate)="onUpdateInstituteCategory($event)"></app-tagmaker>
            <app-tagmaker *ngIf="isBoardRequired" placeholder="Add Board" [selectedTagList]="school.boardList" [tagList]="boardList" required="true" (onUpdate)="onUpdateBoard($event)"></app-tagmaker>
            <mat-form-field style="width: 100%" color="accent">
                <input [(ngModel)]="school.establishmentYear" maxlength="4" minlength="4" matInput  name="establishmentYear" placeholder="Year of Establishment" type="text">
            </mat-form-field>
            <mat-form-field style="width: 100%" color="accent">
                <textarea [(ngModel)]="school.address" maxlength="200" rows="4" name="address" matInput placeholder="Address" required></textarea>
            </mat-form-field>
            <!-- <mat-form-field style="width: 100%" color="accent" required>
                <mat-select placeholder="State" [(value)]="selectedState">
                    <mat-option *ngFor="let state of stateList" [value]="state.id">
                        {{state.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 100%" color="accent" required>
                <mat-select placeholder="City" [(value)]="selectedCity">
                    <mat-option *ngFor="let city of cityList" [value]="city.id">
                        {{city.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-form-field style="width: 100%" color="accent">
                <mat-select name="locality" placeholder="Locality" [(ngModel)]="school.locality" required>
                    <mat-option *ngFor="let locality of selectedCity.localityList" [value]="locality">
                        {{locality.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 100%" color="accent">
                <input [(ngModel)]="school.pincode " matInput  name="pincode" placeholder="Pincode" type="text" required>
            </mat-form-field>
            <mat-form-field style="width: 100%" color="accent">
                <input [(ngModel)]="school.email" name="email" matInput placeholder="Email" type="text" required>
            </mat-form-field>
            <mat-form-field style="width: 100%" color="accent">
                <input [(ngModel)]="school.phone" name="phone" matInput placeholder="Phone" type="text" required>
            </mat-form-field>
            <mat-form-field style="width: 100%" color="accent">
                <textarea [(ngModel)]="school['about']" maxlength="500" rows="4" name="about" matInput placeholder="About the school"></textarea>
            </mat-form-field>

            <!-- STUDENT/TEACHER INFO SECTION -->
            <ng-container *ngIf="school['searchable']">
                <br><br>
                <h2 class="font-weight-light">Other Information</h2>
                <mat-form-field style="width: 100%" color="accent">
                    <input [(ngModel)]="school['studentCount']" matInput min="0" max="999999"  name="studentCount" placeholder="Number of students in your school" type="number">
                </mat-form-field>
                <mat-form-field style="width: 100%" color="accent">
                    <input [(ngModel)]="school['teacherCount']" matInput min="0" max="999999"  name="teacherCount" placeholder="Number of teachers in your school" type="number">
                </mat-form-field>
            </ng-container>

            <!-- FACILITIES SECTION -->
            <ng-container *ngIf="school['searchable']">
                <br><br>
                <h2 class="font-weight-light">Facilities</h2>
                <div class="row">
                    <div class="col col-12">
                        <div *ngFor="let row of schoolFacilities" class="row">
                            <div *ngFor="let facility of row" class="col col-4">
                                <mat-checkbox [checked]="school['facilities'].indexOf(facility['code']) > -1" (change)="facilitySelection($event, facility)">{{facility["name"]}}</mat-checkbox>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- ADMISSIONS SECTION -->
            <ng-container *ngIf="school['searchable']">
                <br>
                <h2 class="font-weight-light">Admissions</h2>
                <mat-checkbox (change)="school['admissionsOpen'] = !school['admissionsOpen']" [checked]="school['admissionsOpen']">Admissions open</mat-checkbox><br>
            </ng-container>
            <br>
            <div class="col col-lg-12 col-md-12">
                <button mat-raised-button class="float-right" color="accent" (click)="saveSchoolInfo($event)">SAVE</button>
                <button mat-button class="float-right" (click)="cancel($event)" style="margin-right:10px;">CANCEL</button>
            </div>
        </div>
    </div>
</form>