button {
	outline: none;
	box-shadow: none;
}

/*Uploader*/
.drop-zone {
	width: 100%;
	height: 100%;
}

.drop-zone-unhighlighted {
	border:3px dashed #ccc; 
}

.drop-zone-highlighted {
	border:3px dashed #e91e63; 
}

.drop-zone-off {
	border: 0;
}

.drop-zone-input {
	position:absolute;
	cursor:pointer;
	z-index:2;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.drop-zone-label {
	position: absolute;
	color:grey;
	font-style:italic;
	font-size:20px;
	display:block;
	top: calc(50% - 50px);
	left: calc(50% - 150px);
}

.previewOff {
	display: none;
}

.imagePreview {
	display:block;
	width: 100%;
	text-align: center;
	border: 5px solid #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.86);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.filePreview {
	display:block;
	width: 100%;
	text-align: center;
	border: 5px solid #fff;
	height: 250px;
	background-color: #f7f7f7;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.86);
}

.drop-zone-crosslabel {
	position: absolute;
	top:5px;
	left: 5px;
	z-index:10;
	background-color: #000;
	opacity: 0.78;
	color: #fff;
	width: calc(100% - 10px);
	padding-right: 20px;
	padding-top: 20px;
	height: 60px;
	text-align: right;
	font-weight: bold;
	box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.86);
}

.popup-option {
	cursor: pointer;
	background-color: #ccc;
}