<div *ngIf="!mini" style="position:relative; width: 100%; height: 100%;">
    <div [ngClass]="{
      'drop-zone': true,
      'drop-zone-unhighlighted': getDropzoneState() == 'unhighlighted',
      'drop-zone-highlighted': getDropzoneState() == 'highlighted',
      'text-center': true ,
      'drop-zone-off': getDropzoneState() == 'preview'
    }" 
    (dragenter)="dragStart($event)" (dragover)="dragOver($event)" (dragleave)="dragEnd($event)" (drop)="onDrop($event)">

        <div *ngIf="getDropzoneState() == 'preview'" class="drop-zone-crosslabel">
            <span style="cursor:pointer" (click)="clearPreview()">CLEAR</span>
        </div>
        <span *ngIf="getDropzoneState() != 'preview'" class="drop-zone-label">
            <input type="file" class="drop-zone-input" (change)="changeListener($event)"/>
            <i class="fa fa-upload" style="font-size: 50px"></i>
            <p style="margin-top: 10px">Click to select a picture or drag it here</p>
        </span>
        <img *ngIf="getDropzoneState() == 'preview' && getFileType() == 'image'" class="imagePreview" [src]="fileObj.preview">
        <div *ngIf="getDropzoneState() == 'preview' && getFileType() == 'file'" class="filePreview">
            <span class="drop-zone-label" style="color:#e91e63">
                <i class="fa fa-file-excel-o" style="font-size:20px;"></i>&nbsp;&nbsp;
                {{fileObj.filename}}
            </span>
        </div>
    </div>
</div>
