<h3 class="font-weight-light">
    Photo Editor
</h3>

<div class="row" style="height: 100%">
    <div class="col col-12" style="height: 100%">
        <image-cropper style="height:80%;border:1px solid #ccc;background:#ccc"
        [imageChangedEvent]="originalFileEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="aspectRatio"
        imageQuality="100"
        (imageCroppedBase64)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
        onlyScaleDown="true"
        ></image-cropper>

        <div style="margin-top:15px">
            <button mat-raised-button color="accent" class="float-right no-outline" (click)="save($event)">
                DONE
            </button>
            <button mat-button class="float-right no-outline" style="margin-right:20px" (click)="cancel($event)">
                CANCEL
            </button>
        </div>
    </div>
</div>