<mat-form-field style="width: 100%" color="accent">
    <mat-chip-list #chipList>
        <mat-chip selected="true" style="background-color: #e91e63; color: #fff" *ngFor="let tag of tags" (removed)="remove(tag)"> 
            {{tag.name}}
            <mat-icon style="color: #fff" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input matInput [placeholder]="placeholder" #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" required>
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of tagList | searchfilter: {'name': tagInput.value}" [value]="tag">
            {{tag.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>