<h2 class="font-weight-light">Student Information</h2>
<p>Enter information about students studying at {{school.name}}</p>
<br>
<div class="row">
    <div *ngIf="!inputType.value || inputType.value=='keyin'" class="col col-md-8">Enter student and parent information</div>

    <div *ngIf="inputType.value=='csv'" class="col col-md-8">Upload the students data. You can download the <a href="https://s3.us-east-2.amazonaws.com/mgkslt-prod-public/schoolCreation/Students.xlsx.csv" style="color:#007dff" download>sample file</a> for reference.</div>

    <div class="col col-md-4">
        <mat-button-toggle-group class="float-right" #inputType="matButtonToggleGroup" value="keyin">
            <mat-button-toggle value="keyin" (change)="inputTypeChange('keyin')">
                <i class="far fa-keyboard" aria-hidden="true" style="font-size:20px;"></i>
            </mat-button-toggle>
            <mat-button-toggle value="csv" (change)="inputTypeChange('csv')">
                <i class="far fa-file-excel" aria-hidden="true" style="font-size:20px;"></i>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
<br>
<div class="row">
    <div class="col col-md-12 col-lg-12 col-sm-12" *ngIf="inputType.value=='csv'">
        <app-uploader type='csv' (onUpdate)="onFileUpload($event)"></app-uploader>
    </div>

    <div *ngIf="inputType.value=='keyin'" class="col col-md-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="col col-md-9 col-lg-9 col-sm-9">
                <mat-form-field color="accent" style="width: 100%">
                    <input [(ngModel)]="studentSearchText" name="search" matInput placeholder="Search student by name or admission code" type="search" [disabled]="!students || students.length == 0">
                </mat-form-field>
            </div>
            <div class="col col-md-3 col-lg-3 col-sm-3">
                <button mat-raised-button color="accent" class="float-right" (click)="showStudentForm($event, null)">
                    ADD STUDENT
                </button>
            </div>
        </div>
        <div class="row" *ngIf="studentDataLoading">
            <div class="col col-sm-12 col-md-12 col-lg-12 text-center">
                <img src="../../assets/img/page-loader.gif" alt="Loading..." style="height:30px">
            </div>
        </div>
        <div class="row" *ngIf="!studentDataLoading && (!students || students.length == 0)">
            <div class="col col-sm-12 col-md-12 col-lg-12 text-center">
                <p style="color:grey;font-style: italic;">There are no students in this school. Start adding students by pressing the Add Student button</p>
            </div>
        </div>
        <div class="row" *ngIf="!studentDataLoading && (students && students.length > 0)">
            <div class="col col-sm-12 col-md-12 col-lg-12 card-content table-responsive table-full-width">
                <table class="table">
                    <thead class="text-rose">
                        <th>Admission Code</th>
                        <th>Name</th>
                        <th>Standard</th>
                        <th>Section</th>
                        <th>Date of Birth</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of students | searchfilter: {'name': studentSearchText, 'admissionCode': studentSearchText}; let i = index">
                            <td>{{student.admissionCode}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.clazz.standard}}</td>
                            <td>{{student.clazz.section}}</td>
                            <td>{{student.dob | date: 'dd-MM-yyyy'}}</td>
                            <td>
                                <div class="button-row">
                                    <button mat-icon-button (click)="showStudentForm($event, i)">
                                        <mat-icon aria-label="Edit Student">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="deleteStudent($event, i)">
                                        <mat-icon aria-label="Delete Student">delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>