.cover-pic {
	height: 330px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	
}

.overlay {
	background-color: #000;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
}

.cover-pic-content {
	color: #fff;
	position: absolute;
	top: 0;
	height: 0;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	padding: 50px;
}

.school-profile-pic {
	width: 200px;
	height: 200px;
	border: 5px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
}

.edit-school-profile-pic {
	background-color: #000;
	opacity: 0.8;
	color: #fff;
	position:absolute;
	left: 5px;
	top: 50%;
	width: 190px;
	height: 95px;
	border-radius: 0 0 190px 190px;
	text-align: center;
	cursor: pointer;
}

.school-profile-input-button {
	opacity:0;
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	outline: none;
	cursor: pointer;
}

.school-cover-input-button {
	position:absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	width: 160px;
}

.school-name {
	font-weight: lighter;
}

.link {
	text-decoration: none;
}

agm-map {
	height: 300px;
}

.edit-button {
	margin-top:-5px;
}

.edit-button i{
	font-size: 15px;
}

.infocard-header {
	font-size: 20px;
}

.key {
	font-weight: bold;
	width: 30%;
	vertical-align: top;
}

button.admissionsOpen {
	border-color:#02BB44;
	width: 160px !important;
	color: #02BB44 !important;
}