<div class="main-content">
    <div class="container-fluid">

        <div class="position-fixed float-right" style="right:0;top:calc(50% - 140px);z-index:11;">
            <div class="mb-0" *ngFor="let socialButton of socialButtons">
                <a [href]="socialButton.href" target="_blank">
                    <i [ngStyle]="socialButton.style" [ngClass]="socialButton.fontawesomeClass"></i>
                </a>
            </div>
        </div>

        <!-- COVER PIC SECTION -->
        <div class="row">
            <div class="col col-sm-12 col-md-12 col-lg-12 cover-pic" [style.background-image]="'url(' + school.coverPic + ')'">
                <div class="overlay"></div>
                <div class="cover-pic-content row">
                    <div class="col col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div class="col col-sm-8 col-md-8 col-lg-8">
                        <div class="row">
                            <div class="col col-sm-3 col-md-3 col-lg-3">
                                <div style="position:relative">
                                    <img class="school-profile-pic" [src]="school['displayPic']">
                                    <div class="edit-school-profile-pic" *ngIf="isCurrentUserAdminOfSchool">
                                        <ng-container *ngIf="!profilePicUploadInProgress">
                                            <input #displayPicInput type="file" accept="image/*" class="school-profile-input-button" (change)="showImageCropper($event, SCHOOL_PROFILE_PICTURE_TYPE)" >
                                            <i style="margin-top: calc(12.5% - 11px); font-size: 22px" class="fa fa-camera"></i>
                                            <br>
                                            <small>EDIT PROFILE PIC</small>
                                        </ng-container>
                                        <ng-container *ngIf="profilePicUploadInProgress">
                                            <img src="../assets/img/page-loader.gif" alt="Processing..." style="width:30px;height: 30px;margin-top: calc(12.5% - 11px);">
                                            <br>
                                            <small>UPLOADING...</small>
                                        </ng-container>
                                    </div>
                                </div>
                                <button *ngIf="isCurrentUserAdminOfSchool" (click)="openEditSchoolForm()" mat-stroked-button style="margin-left: 40px; margin-top: 20px"><i class="fa fa-edit"></i> &nbsp;EDIT PROFILE</button>
                            </div>
                            <div class="col col-sm-9 col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col col-sm-12 col-md-12 col-lg-12">
                                        <h1 class="font-weight-light">
                                            {{school["name"]}}
                                        </h1>
                                        <app-rating *ngIf="school['averageRating'] >= 0" [rating]="school['averageRating']"></app-rating>
                                        <br>
                                        <p *ngIf="school['locality']">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
                                            {{school["locality"]["name"]}}, {{school["locality"]["city"]["name"]}}
                                        </p>
                                    </div>
                                </div>
                                <br *ngIf="school['name'] && school['name'].length < 42">
                                <div class="row">
                                    <div class="col col-sm-3 col-md-3 col-lg-3 text-center">
                                        <span style="font-size: 20px">{{school["studentCount"]}}</span>
                                        <br><small>STUDENTS</small>
                                    </div>
                                    <div class="col col-sm-3 col-md-3 col-lg-3 text-center">
                                        <span style="font-size: 20px">{{school["teacherCount"]}}</span>
                                        <br><small>TEACHERS</small>
                                    </div>
                                    <div class="col col-sm-3 col-md-3 col-lg-3 text-center">
                                        <span style="font-size: 20px">
                                            <ng-container *ngIf="school['averageRating'] > 0">
                                                {{school["averageRating"] | number : '1.1-1'}}
                                            </ng-container>
                                            <ng-container *ngIf="school['averageRating'] == 0">
                                                {{school["averageRating"]}}
                                            </ng-container>
                                        </span>
                                        <br><small>RATING</small>
                                    </div>
                                    <div class="col col-sm-3 col-md-3 col-lg-3 text-center">
                                        <span style="font-size: 20px">{{school["ratingCount"]}}</span>
                                        <br><small>REVIEW<span *ngIf="school['ratingCount'] > 1 || school['ratingCount'] == 0">S</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-2 col-md-2 col-lg-2" style="height:100%">
                        <button class="float-right mb-2" *ngIf="isCurrentUserAdminOfSchool" mat-stroked-button>
                            <ng-container *ngIf="!coverPicUploadInProgress">
                                <i class="fa fa-image"></i> &nbsp;CHANGE COVER PIC<input #coverPicInput type="file" accept="image/*" class="school-cover-input-button" (change)="showImageCropper($event, SCHOOL_COVER_PICTURE_TYPE)">
                            </ng-container>                            
                            <ng-container *ngIf="coverPicUploadInProgress">
                                <img src="../assets/img/page-loader.gif" alt="Processing..." style="width:30px;height: 30px;margin-top: calc(12.5% - 11px);">
                                <br>
                                <small>UPLOADING...</small>
                            </ng-container>
                        </button>
                        <button class="admissionsOpen float-right mb-2" disabled *ngIf="school['admissionsOpen']" mat-stroked-button>
                            <i class="fa fa-check"></i> &nbsp;ADMISSIONS OPEN
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- INFORMATION SECTION -->
        <div class="row">
            <div class="col col-sm-3 col-md-3 col-lg-3">
                <div class="row" style="margin-bottom: 20px">
                    <div class="col col-sm-12 col-md-12 col-lg-12">
                        <mat-card class="text-justify">
                            <p style="font-size: 20px" class="font-weight-light">About</p>
                            <div *ngIf="school['about']">{{school['about']}}<br><br></div>
                            <div *ngIf="school['establishmentYear']">
                                <b><i class="fa fa-calendar-alt"></i>&nbsp;&nbsp;Year of Establishment</b>
                                <br>
                                {{school['establishmentYear']}}<br><br>
                            </div>
                            <div>
                                <b><i class="fas fa-university"></i>&nbsp;&nbsp;Institute Category</b>
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let ic of school['instituteCategoryList']" selected="true" style="background-color: #e91e63; color: #fff"> 
                                        {{ic.name}}
                                    </mat-chip>
                                </mat-chip-list>
                                <br>
                            </div>
                            <div *ngIf="school['boardList'] && school['boardList'].length > 0">
                                <b><i class="fas fa-book"></i>&nbsp;&nbsp;Board</b>
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let board of school['boardList']" selected="true" style="background-color: #e91e63; color: #fff"> 
                                        {{board['name']}}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="col col-sm-6 col-md-6 col-lg-6">
                <div class="row" style="margin-bottom: 20px" *ngIf="schoolFacilities.length > 0">
                    <div class="col col-sm-12 col-md-12 col-lg-12">
                        <mat-card class="text-justify">
                            <p style="font-size: 20px" class="font-weight-light">Facilities</p>
                            <div class="row mt-4" *ngFor="let row of schoolFacilities">
                                <div class="col col-3" *ngFor="let facility of row">
                                    <img class="facility-icons" [src]="facility['icon']">&nbsp;&nbsp;{{facility['name']}}
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col col-sm-12 col-md-12 col-lg-12">
                        <mat-card class="text-justify">
                            <p style="font-size: 20px" class="font-weight-light">Rating & Reviews</p>
                            <ng-container *ngIf="reviews.length == 0">
                                <p style="color: gray">This school hasn't been reviewed yet.
                                    <ng-container *ngIf="!isUserLoggedIn()">
                                        To add a review, please <span style="cursor: pointer" class="btn-link" (click)="showAuthModal()">sign in</span>
                                    </ng-container>
                                </p>
                            </ng-container>
                            <div class="row" *ngIf="!isUserLoggedIn()">
                                <div class="col col-9">
                                    <mat-form-field color="accent" style="width: 100%">
                                        <input matInput placeholder="Add a review" type="text" readonly (click)="showAuthModal()">
                                    </mat-form-field>
                                </div>
                                <div class="col col-3">
                                    <button (click)="showAuthModal()" mat-flat-button color="accent" class="w-100"><i class="fa fa-pencil-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add a Review</button>
                                </div>
                            </div>
                            <div class="row" *ngIf="allowedToReview() && !userReview">
                                <div class="col col-9">
                                    <mat-form-field color="accent" style="width: 100%">
                                        <input matInput placeholder="Add a review" type="text" readonly (click)="showReviewModal()">
                                    </mat-form-field>
                                </div>
                                <div class="col col-3">
                                    <button (click)="showReviewModal()" mat-flat-button color="accent" class="w-100"><i class="fa fa-pencil-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add a Review</button>
                                </div>
                            </div>
                            <ng-container *ngIf="reviews.length > 0">
                                <mat-tab-group color="accent">
                                    <mat-tab label="All">
                                        <br>
                                        <div *ngFor="let review of reviews; let i = index" [ngClass]="{'p-b-4': true}">
                                            <app-rating-review-block [review]="review" [school]="school"></app-rating-review-block>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="My Review" *ngIf="allowedToReview() && userReview">
                                        <br>
                                        <div [ngClass]="{'p-b-4': true}">
                                            <app-rating-review-block [review]="userReview" [school]="school"></app-rating-review-block>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                                <br>
                            </ng-container>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="col col-sm-3 col-md-3 col-lg-3">
                <div *ngIf="!isCurrentUserAdminOfSchool" class="row" style="margin-bottom: 20px">
                    <div class="col col-sm-12 col-md-12 col-lg-12">
                        <button *ngIf="!userAlreadyShownInterest" mat-flat-button style="width: 100%;background-color:#02BB44; height: 45px" (click)="applyToSchool($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;REQUEST A CALLBACK</button>
                        <button *ngIf="userAlreadyShownInterest" mat-flat-button disabled="true" style="font-weight: bold;color:#fff;width: 100%;background-color:#02BB44; height: 45px"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;CALLBACK REQUESTED</button>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col col-sm-12 col-md-12 col-lg-12">
                        <mat-card>
                            <p style="font-size: 20px" class="font-weight-light">Contact Details</p>
                            <div *ngIf="school['website']">
                                <b><i class="fas fa-link"></i>&nbsp;&nbsp;Website</b>
                                <br>
                                <a target="_blank" [href]="school['website']">{{school['website']}}</a><br><br>
                            </div>
                            <div *ngIf="school['address']">
                                <b><i class="far fa-address-card"></i>&nbsp;&nbsp;Address</b>
                                <br>
                                {{school['address']}}<br><br>
                            </div>
                            <div *ngIf="school['phone']">
                                <b><i class="fa fa-phone"></i>&nbsp;&nbsp;Phone</b>
                                <br>
                                <a [href]="'tel:' + school['phone']">{{school['phone']}}</a><br><br>
                            </div>
                            <div *ngIf="school['email']">
                                <b><i class="far fa-envelope"></i>&nbsp;&nbsp;Email</b>
                                <br>
                                <a [href]="'mailto:' + school['email']">{{school['email']}}</a>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px" *ngIf="school['latitude'] && school['longitude']">
                    <div class="col col-sm-12 col-md-12 col-lg-12">
                        <mat-card>
                            <p>
                                <span style="font-size: 20px" class="font-weight-light">Map</span>
                                <a class="float-right link" target="blank" href="javascript:void(0);" (click)="getDirections()">Get Directions</a>
                            </p>
                            <agm-map [latitude]="school['latitude']" [longitude]="school['longitude']" [zoom]="zoom">
                                <agm-marker [latitude]="school['latitude']" [longitude]="school['longitude']"  [label]="school['name']"></agm-marker>
                            </agm-map>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>