button {
	outline: none;
	box-shadow: none;
}

/*Step Progress*/
.step-progress {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom:10px;
}

.step-progress li {
	text-decoration: none;
	display:inline-block;
	border-radius: 50%;
	padding-top:30px;
	width:80px;
	height:80px;
	cursor: default;
}

.step-progress li hr {
	margin-top:40px;
	background-color: #444;
	height: 1px;
}

.step-progress-complete{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-weight: bold;
	background-color: #e91e63;
	color: #fff;
	text-align: center;
}

.step-progress-active{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-weight: bold;
	background-color: #fff;
	color: #555;
	border:2px solid #e91e63;
	text-align: center;
	
}

.step-progress-incomplete{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-weight: bold;
	background-color: #fff;
	color: #555;
	text-align: center;
}