<div *ngIf="this.isDataAvailable" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-1"></div>
            <div class="col col-lg-10 text-center">
                <ul class="step-progress step-progress-rose text-center">
                    <span *ngFor="let stg of [0,1,2,3,4]">
                        <li [ngClass]="{'step-progress-active' : stg == school.stage, 'step-progress-complete': stg < school.stage, 'step-progress-incomplete' : stg > school.stage}">
              {{stg + 1}}
                        </li>
                        <li *ngIf="stg < 4">
                        <hr>
                        </li>
                    </span>
                </ul>
            </div>
            <div class="col col-lg-1"></div>

        </div>
        <br>
        <div class="row">
            <div class="col col-lg-1"></div>
            <div class="col col-lg-10">
                <mat-card style="margin-bottom:20px">
                    <app-school-info *ngIf="school.stage == 0" [school]="school" (onCancel)="abort($event)" (onUpdate)="onSchoolInfoUpdate($event)"></app-school-info>
                    <app-class-info *ngIf="school.stage == 1" [school]="school" (onCancel)="abort($event)" (onUpdate)="fetchSchoolDetailsForAdmin()"></app-class-info>
                    <app-teacher-input *ngIf="school.stage == 2" [school]="school" (onCancel)="abort($event)" (onUpdate)='onTeacherInput($event)'></app-teacher-input>
                    <app-student-input *ngIf="school.stage == 3" [school]="school" (onCancel)="abort($event)" (onUpdate)='onStudentInput($event)'></app-student-input>
                    <app-subject-input *ngIf="school.stage == 4" [school]="school" (onCancel)="abort($event)" (onUpdate)='onSubjectMappingInput($event)'></app-subject-input>

                    <button *ngIf="school.stage > 1 " mat-raised-button color="accent" class="float-right" (click)="next($event, school.stage + 1)">NEXT</button>
                    <button *ngIf="school.stage > 1 " mat-button class="float-right" (click)="abort($event)" style="margin-right:10px;display:block;">CANCEL</button>
                    <div class="clearfix"></div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col col-lg-1"></div>
</div>