<h2 class="font-weight-light">Settings</h2>
<p>Update your settings</p>

<div class="row">
    <div class="col col-md-12 col-lg-12 col-sm-12">
        <mat-tab-group color="accent">
            <mat-tab label="Password">
                <br>
                <p>You can change your password here</p>
                <form>
                    <mat-form-field style="width: 100%;" color="accent">
                        <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
                        <input [(ngModel)]="oldPassword" name="oldPassword" matInput placeholder="Enter old Password" color="accent" type="password" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 100%;" color="accent">
                        <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
                        <input [(ngModel)]="newPassword" name="newPassword" matInput placeholder="Enter New Password" color="accent" type="password" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 100%;" color="accent">
                        <i matPrefix class="fa fa-key">&nbsp;&nbsp;&nbsp;</i>
                        <input [(ngModel)]="repeatNewPassword" name="repeatNewPassword" matInput placeholder="Repeat New Password" color="accent" type="password" required>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button class="float-right"  color="accent" (click)="updatePassword($event)">CHANGE PASSWORD</button>
                </form>
            </mat-tab>
            <!-- <mat-tab label="Contact Details">
                <br>
                <p>You can update your contact details here</p>

                <mat-form-field style="width: 100%;" color="accent">
                    <i matPrefix class="fa fa-phone">&nbsp;&nbsp;&nbsp;</i>
                    <input [(ngModel)]="phone" name="phone" matInput placeholder="Enter your phone number" color="accent" type="phone" required>
                </mat-form-field>
                <mat-form-field style="width: 100%;" color="accent">
                    <i matPrefix class="fa fa-envelope">&nbsp;&nbsp;&nbsp;</i>
                    <input [(ngModel)]="email" name="email" matInput placeholder="Enter your email" color="accent" type="email" required>
                </mat-form-field>
                <br>
                    <button mat-raised-button class="float-right"  color="accent" (click)="saveContactDetails($event)">SAVE</button>
            </mat-tab> -->
        </mat-tab-group>
    </div>
</div>