<div class="main-content">
    <div class="container-fluid">
        <div class="searchInputDiv row">
            <div class="col col-md-3 col-lg-3 col-sm-3"></div>
            <div class="col col-md-6 col-lg-6 col-sm-6">
                <app-school-search [filterQueryPath]="filtersString" [theme]="schoolSearchThemeType.WHITE"></app-school-search>
            </div>
            <div class="col col-md-3 col-lg-3 col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col col-md-2 col-sm-2 col-lg-2">
                <mat-card style="margin-bottom: 20px;" *ngFor="let setting of searchSettings">
                    <mat-card-content>
                        <mat-card-subtitle><b>{{setting.getSectionName()}}</b></mat-card-subtitle>
                        <form *ngIf="setting.searchableFilterPlaceholder()" class="w-100" style="margin-top:-10px">
                            <mat-form-field color="accent" class="w-100">
                                <input matInput class="w-100" name="optionFilter" [placeholder]="setting.searchableFilterPlaceholder()" [(ngModel)]="setting.filter">
                            </mat-form-field>
                        </form>
                        <div *ngIf="setting.isLoading">
                            <img src="../../assets/img/loading.gif" alt="Loading">
                        </div>
                        <div style="max-height: 300px; overflow: auto" *ngIf="setting.getInputType() == SearchSettingInputTypeRef.CHECKBOX">
                            <div *ngFor="let option of setting.getOptionList() | searchfilter: {'displayName': setting.filter}">
                                <mat-checkbox (change)="option.setSelected($event.checked)" [checked]="option.isSelected()">{{option.getDisplayName()}}</mat-checkbox><br>
                            </div>
                        </div>
                        <div style="max-height: 300px; overflow: auto" *ngIf="setting.getInputType() == SearchSettingInputTypeRef.RADIO">
                            <div *ngFor="let option of setting.getOptionList() | searchfilter: {'displayName': setting.filter}">
                                <mat-radio-button (change)="option.setSelected($event.checked)" [checked]="option.isSelected()">{{option.getDisplayName()}}</mat-radio-button><br>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="float-right" style="margin-top:-25px" *ngIf="setting.showFilterButton()">
                        <button mat-button color="accent" (click)="applyFilter(setting)"><mat-icon>filter_list</mat-icon>&nbsp;&nbsp;FILTER</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col col-md-6 col-sm-6 col-lg-6">
                <div *ngIf="isBusyFetchingResults" class="text-center">
                    <img src="../../assets/img/page-loader.gif" alt="Loading..." style="height:30px">
                </div>
                <div *ngIf="schoolList.length == 0 && !isBusyFetchingResults" class="text-secondary text-center">
                    <img src="../../../assets/img/no-search-result.png" style="width:256px">
                    <br><br>
                    <p>No schools found!</p>
                </div>
                <div *ngIf="schoolList.length > 0 && !isBusyFetchingResults">
                    Showing {{resultCount | number}} search results
                    <br><br>
                </div>
                <div class="row" style="margin-bottom: 20px" *ngFor="let school of schoolList">
                    <div class="col col-sm-12 col-md-12 col-lg-12">
                        <mat-card>
                            <div class="row">
                                <div class="col col-sm-4 col-md-4 col-lg-4">
                                    <img [src]="school.displayPic" class="schoolDP">
                                </div>
                                <div class="col col-sm-8 col-md-8 col-lg-8">
                                    <mat-card-title>
                                        <h4><a class="schoolNameLink" href="../school/{{school.sid}}" target="_blank">{{school.sname}}</a></h4>
                                        <button disabled *ngIf="school['admissionsOpen']" mat-stroked-button style="border-color:#02BB44; width: 160px; color: #02BB44" class="float-right">
                                            <i class="fa fa-check"></i> &nbsp;ADMISSIONS OPEN
                                        </button>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        <app-rating [rating]="school.rating" [allowEditing]="false"></app-rating>
                                        <div style="margin-top:10px;margin-bottom:10px">Rating: <span *ngIf="school.rating">{{school.rating | number : '1.1-1'}}</span><span *ngIf="!school.rating">Not Rated</span></div>
                                        <mat-chip-list #chipList>
                                            <mat-chip *ngFor="let icn of school.instituteCategoryName" selected="true" style="background-color: #e91e63; color: #fff"> 
                                                {{icn}}
                                            </mat-chip>
                                        </mat-chip-list>
                                    </mat-card-subtitle>
                                    <p class="schoolInfo">
                                        <i class="fa fa-map-marker"></i>
                                        &nbsp;
                                        {{school.localityName}}
                                                    <!-- <br>
                                                    <i class="fa fa-comments"></i>
                                                    &nbsp;
                                                    52 Feedbacks -->
                                                    <br>
                                                    <button *ngIf="!school['userAlreadyShownInterest']" mat-flat-button style="margin-top:10px;background-color:#02BB44;height: 45px" (click)="applyToSchool($event, school.sid, school.sname)"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;REQUEST A CALLBACK</button>
                                                    <button *ngIf="school['userAlreadyShownInterest']" mat-flat-button disabled="true" style="font-weight: bold;margin-top:10px;color:#fff;height: 45px;background-color:#02BB44; height: 45px"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;CALLBACK REQUESTED</button>
                                                </p>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                            <div *ngIf="resultCount > 1" class="row" style="margin-bottom: 20px">
                                <div class="col col-sm-12 col-md-12 col-lg-12">
                                    <mat-paginator class="paginator" [pageIndex]="pageIndex" [length]="resultCount" [pageSize]="resultsPerPage" (page)="updatePage($event)"></mat-paginator>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-4 col-lg-4">
                            <mat-card>
                                <p style="font-size: 20px" class="font-weight-light">Share this search</p>
                                <span class="social-button" *ngFor="let socialButton of socialButtons">
                                    <a [href]="socialButton.href" target="_blank">
                                        <i [ngStyle]="socialButton.style" [ngClass]="socialButton.fontawesomeClass"></i>
                                    </a>
                                </span>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
