button {
	outline: none;
	box-shadow: none;
}

.searchInputDiv {
	background-color: #e91e63;
	padding: 20px 0;
}

.schoolInfo {
	font-size: 15px;
	line-height: 2em;
	margin-top: -10px;
}

.pos-highlighted{
	color: #2ECC71;
	font-weight: bold;
}

.schoolDP{
	width:100%;
	border-radius:5px;
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.50);
	background-color: #fff;
}

.page-link {
	color: #e91e63;
}

.social-button {
	font-size: 30px;
	margin-right: 10px;
}

.schoolNameLink {
	text-decoration: none;
	color: #000;
}

.schoolNameLink:hover {
	color: #e91e63;
	text-decoration: underline;
}

.paginator {
	color:#e91e63;
	font-size:15px;
	background-color: transparent;
}