<h4 class="card-title">Subject Information</h4>
<p class="card-category">Add subjects taught at {{school.name}}</p>
<br>

<div class="row">
    <div *ngIf="!inputType.value || inputType.value=='keyin'" class="col col-md-8">Add Subject Information</div>

    <div *ngIf="inputType.value=='csv'" style="margin-top:10px" class="col col-md-8">Upload the class-subject data. You can download the <a href="https://s3.us-east-2.amazonaws.com/mgkslt-prod-public/schoolCreation/Teachers.xlsx+-+Sheet2.csv" style="color:#007dff" download>sample file</a> for reference.</div>

    <div class="col col-md-4">
        <mat-button-toggle-group class="float-right" #inputType="matButtonToggleGroup" value="keyin">
            <mat-button-toggle value="keyin" (change)="inputTypeChange('keyin')">
                <i class="fa fa-keyboard" aria-hidden="true" style="font-size:20px;"></i>
            </mat-button-toggle>
            <mat-button-toggle value="csv" (change)="inputTypeChange('csv')">
                <i class="fa fa-file-excel" aria-hidden="true" style="font-size:20px;"></i>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<br>

<div class="row">
    <div class="col col-md-12 col-lg-12 col-sm-12" *ngIf="inputType.value=='csv'">
        <app-uploader type='csv' (onUpdate)="onFileUpload($event)"></app-uploader>
    </div>
    <div *ngIf="inputType.value=='keyin'" class="col col-md-12 col-lg-12 col-sm-12">
        <div class="row" *ngIf="mappingDataLoading">
            <div class="col col-sm-12 col-md-12 col-lg-12 text-center">
                <img src="../../assets/img/page-loader.gif" alt="Loading..." style="height:30px">
            </div>
        </div>
        <div *ngIf="!mappingDataLoading">
            <div class="row">
                <div class="col col-md-9 col-lg-9 col-sm-9">
                    <mat-form-field color="accent" style="width: 100%">
                        <input [(ngModel)]="subjectSearchText" name="search" matInput placeholder="Search subjects by name" type="search" [disabled]="!subjects || subjects.length == 0">
                    </mat-form-field>
                </div>
                <div class="col col-md-3 col-lg-3 col-sm-3">
                    <button mat-raised-button color="accent" class="float-right" (click)="showSubjectForm($event, null)">
                        ADD SUBJECT
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!mappingDataLoading && (!subjects || subjects.length == 0)">
    <div class="col col-sm-12 col-md-12 col-lg-12 text-center">
        <p style="color:grey;font-style: italic;">There are no subjects taught in this school. Start adding subjects by pressing the Add Subject button</p>
    </div>
</div>
<div class="row" *ngIf="!mappingDataLoading && (subjects && subjects.length > 0)">
    list of subjects
</div>