<div class="row">
    <div class="col col-md-12 col-lg-12 col-sm-12">

        <h3 class="font-weight-light" *ngIf="teacher.id">Edit Teacher</h3>
        <h3 class="font-weight-light" *ngIf="!teacher.id">Create Teacher</h3>

        <mat-form-field class="w-100" color="accent">
            <input matInput placeholder="Employee Code" color="accent" [(ngModel)]="teacher.employeeId">
        </mat-form-field>

        <mat-form-field class="w-100" color="accent">
            <input matInput placeholder="Teacher Name" color="accent" [(ngModel)]="teacher.user.name" [disabled]="teacher.id">
        </mat-form-field>

        <mat-form-field class="w-100" color="accent">
            <input matInput placeholder="Phone" color="accent" [(ngModel)]="teacher.user.phone" [disabled]="teacher.id">
        </mat-form-field>

        <mat-form-field class="w-100" color="accent">
            <input matInput placeholder="Email" color="accent" [(ngModel)]="teacher.user.email" [disabled]="teacher.id">
        </mat-form-field>

        <mat-form-field color="accent" style="margin-right:10px">
            <mat-select placeholder="Class Teacher" [(ngModel)]="teacher.ctClass" name="classTeacher">
                <mat-option [value]="null">None</mat-option>
                <mat-option *ngFor="let clazz of school.classList" [value]="clazz">
                    {{clazz.standard}} - {{clazz.section}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <button mat-raised-button color="accent" class="float-right" (click)="save($event)">
            DONE
        </button>
        <button mat-button class="float-right" style="margin-right:20px" (click)="cancel($event)">
            CANCEL
        </button>
    </div>
</div>
