<div class="row sidebar-wrapper" style="background-image: url('../../assets/img/cover.jpg')">
    <div class="col col-md-12">
        <div class="overlay"></div>
        <div class="row sidebar-content">
            <div class="col col-md-12">
                <a style ="text-decoration: none;" href="/">
                    <div class="logo">
                        <img src="../../assets/img/final_logo.png">
                        &nbsp;&nbsp;
                        <span>magiKslate</span>
                    </div>
                </a>
                <div class="separator"></div>
                <div class="menu-item menu-item-selected">
                    <i class="fa fa-home fa-fw"></i>&nbsp;&nbsp;&nbsp;
                    <span>HOME</span>
                </div>
                <div class="menu-item" routerLink="../school/3">
                    <i class="fa fa-university fa-fw"></i>&nbsp;&nbsp;&nbsp;
                    <span>SCHOOL PROFILE</span>
                </div>
                <div class="menu-item">
                    <i class="fa fa-child fa-fw"></i>&nbsp;&nbsp;&nbsp;
                    <span>STUDENTS</span>
                </div>
                <div class="menu-item">
                    <i class="fas fa-chalkboard-teacher fa-fw"></i>&nbsp;&nbsp;&nbsp;
                    <span>TEACHERS</span>
                </div>
            </div>
        </div>
    </div>
</div>