.sidebar-wrapper {
	background-size: cover;
	background-position: center;
	height: 100%;
	overflow-x:hidden;
}

.sidebar-content {
	color: #fff;
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.overlay {
	background-color: #000;
	opacity: 0.8;
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
}

.logo {
	padding: 12px 0px 12px 0px;
}

.logo > img{
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: 3px solid #e91e63;
	padding:5px;
}

.logo > span {
	color: #fff;
	font-size:20px;
	font-weight: 400;
}

.separator {
	width:100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.5;
	margin-bottom: 20px;
}

.eph {
	background-color: transparent;
	color: #fff;
	text-align: center
}

.menu-item {
	padding: 10px 20px 10px 20px;
	color: #ddd;
	font-size: 20px;
	margin-top: 5px;
}

.menu-item > span {
	text-transform: uppercase;
	line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}

.menu-item:hover {
	background: rgba(120, 120, 120, 0.3);
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
}

.menu-item-selected {
	background: rgba(126, 126, 126, 0.3);
	border-radius: 5px;
	color: #fff;
}