<div>
    <ng-container *ngIf="mini">
        <i 
        (click)="setPermRating(i+1)" 
        *ngFor="let ratingType of ratingRange; let i = index" 
        [ngStyle]="ratingType == ratingTypeRef.ZERO  ? {'color': '#999', 'font-size': '1em'} : {'color' : 'gold', 'font-size': '1em'}" 
        [ngClass]="{'fas fa-star-half-alt': ratingType == ratingTypeRef.PARTIAL, 'fa fa-star': ratingType != ratingTypeRef.PARTIAL, 'cursor-pointer': allowEditing}">

        &nbsp;
        </i>
    </ng-container>
    <ng-container *ngIf="!mini">
        <i 
        (click)="setPermRating(i+1)" 
        *ngFor="let ratingType of ratingRange; let i = index" 
        [ngStyle]="ratingType == ratingTypeRef.ZERO  ? {'color': '#999', 'font-size': '2em'} : {'color' : 'gold', 'font-size': '2em'}" 
        [ngClass]="{'fas fa-star-half-alt': ratingType == ratingTypeRef.PARTIAL, 'fa fa-star': ratingType != ratingTypeRef.PARTIAL, 'cursor-pointer': allowEditing}">

        &nbsp;
        </i>
    </ng-container>
</div>