<div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-12 text-center mt-5">
        <img src="../../assets/img/noschool.png">
        <br><br>
        <small style="color: #000">
            You are not part of any school
        </small>
        <br>
        <small style="color: #000">
            Ask your school to invite you. You can also start by creating your own school <br><br>
            <button mat-raised-button color="accent" style="height: 40px;" routerLink="../schoolCreate/">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;
                CREATE SCHOOL
            </button>
        </small>

    </div>
</div>