<div class="row">
    <div class="col col-md-12 col-lg-12 col-sm-12">

        <h3 class="font-weight-light" *ngIf="subject.id">Edit Subject</h3>
        <h3 class="font-weight-light" *ngIf="!subject.id">Create Subject</h3>

        <mat-form-field class="w-100" color="accent">
            <input matInput placeholder="Subject Name" color="accent" [(ngModel)]="subject.name" required>
        </mat-form-field>
        
        <br><br>

        <form>
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <th>
                            Select
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            Teacher
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let clazz of school.classList">
                            <td>
                                <mat-checkbox [checked]="clazz.selected" [(ngModel)]="clazz.selected" name="{{clazz.standard}}-{{clazz.section}}-selected"></mat-checkbox>
                            </td>
                            <td>
                                {{clazz.standard}}-{{clazz.section}}
                            </td>
                            <td>
                                <mat-form-field style="width: 100%;margin-top:-20px;" color="accent">
                                    <input matInput [placeholder]="placeholder" #teacherInput [formControl]="teacherCtrl" [matAutocomplete]="auto" required>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let teacher of teachers | searchfilter: {'name': teacherInput.value}" [value]="teacher">
                                            {{teacher.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>

        <br>
        <button mat-raised-button color="accent" class="float-right" (click)="save($event)">
            DONE
        </button>
        <button mat-button class="float-right" style="margin-right:20px" (click)="cancel($event)">
            CANCEL
        </button>
    </div>
</div>