<div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <h2 class="font-weight-light">Applying to {{schoolName}}</h2>
        <p>Your interest will be sent to the school</p>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <form>
            <mat-form-field style="width: 100%" color="accent">
                <input [(ngModel)]="parentName" name="parentName" matInput placeholder="Parent Name" type="text" required>
            </mat-form-field>
            <mat-form-field style="width: 100%" color="accent">
                <input [(ngModel)]="parentEmail" name="parentEmail" matInput placeholder="Email" type="email" required>
            </mat-form-field>
            <mat-form-field style="width: 100%" color="accent">
                <input [(ngModel)]="parentPhone" name="parentPhone" matInput placeholder="Contact Number" type="phone">
            </mat-form-field>
            <small class="suggestion">*If you are applying to multiple schools, you can quicken the process and keep track of applied schools by <span style="cursor: pointer" class="btn-link" (click)="showAuthModal()">logging in</span>.</small>
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <button mat-raised-button color="accent" class="float-right" (click)="applyToSchool($event)">SUBMIT</button>
        <button mat-button class="float-right" style="margin-right:20px" (click)="close($event)">CANCEL</button>
    </div>
</div>