<h2 class="font-weight-light">Class Information</h2>
<p>How many classes does {{school.name}} have?</p>
<br>
<form>
    <div *ngFor="let cs of classStructure">
        <h3 class="font-weight-light">{{cs.levelName}}</h3>
        <div class="table-responsive">
            <table class="table">
                <thead class="text-rose">
                    <th>
                        Select
                    </th>
                    <th>
                        Standard
                    </th>
                    <th>
                        Sections
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let st of cs.structure">
                        <td>
                            <mat-checkbox [checked]="st.selected" [(ngModel)]="st.selected" name="{{st.standard}}-selected"></mat-checkbox>
                        </td>
                        <td>
                            {{st.standard}}
                        </td>
                        <td>
                            <mat-select placeholder="Number of sections" [(ngModel)]="st.sectionCount" name="{{st.standard}}-sectioncount">
                                <mat-option *ngFor="let sectionCount of sectionCountArray" [value]="sectionCount">
                                    {{ sectionCount }}
                                </mat-option>
                            </mat-select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button mat-raised-button class="float-right" color="accent" (click)="saveClass($event)">SAVE</button>
    <button mat-button class="float-right" (click)="cancel($event)" style="margin-right:10px;">CANCEL</button>
    <div class="clearfix"></div>
</form>