<div class="row">
	<div class="col col-md-3 col-sm-3 col-lg-3">
        <app-profile-pic [name]="getFirstName(student.name)" [src]="student.profilePicUrl" [editable]="true" (onUpdate)="assignStudentProfilePic($event)"></app-profile-pic>     
    </div>
    <div class="col col-md-9 col-sm-9 col-lg-9">

        <!-- STUDENT SECTION -->
        <div class="row">
            <div class="col col-md-12 col-lg-12 col-sm-12">
                <div >
                    <h3 class="font-weight-light">
                        Student Information
                    </h3>
                </div>
                <div class="row">
                    <div class="col col-md-12 col-lg-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-9">
                                <mat-form-field class="w-100" color="accent">
                                    <input matInput placeholder="Student Name" [(ngModel)]="student.name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="w-100" color="accent">
                                    <input matInput placeholder="Admission Code" [(ngModel)]="student.admissionCode">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100" color="accent">
                                    <mat-select placeholder="Standard" [(ngModel)]="student.clazz.standard">
                                        <mat-option *ngFor="let standard of classStandardArray" [value]="standard">
                                            {{standard}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100" color="accent">
                                    <mat-select placeholder="Section" [(ngModel)]="student.clazz.section">
                                        <mat-option *ngFor="let obj of classSectionObject[student.clazz.standard]" [value]="obj.section">
                                            {{obj.section}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="w-100" color="accent">
                                    <mat-select placeholder="Gender" [(ngModel)]="student.gender" name="gender">
                                        <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                            {{gender.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="w-100" color="accent">
                                    <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]="studentDob">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PARENT SECTION -->
        <div class="row">
            <div class="col col-md-12 col-lg-12 col-sm-12">
                <div >
                    <h3 class="font-weight-light">
                        Parent Information
                    </h3>
                </div>
                <div class="row" *ngFor="let parent of student.parent; let i = index" [attr.data-index]="i">
                    <div class="col col-md-12 col-lg-12 col-sm-12">
                        <h4  class="font-weight-light">Parent {{i + 1}}</h4>
                        <mat-form-field class="w-100" color="accent">
                            <input matInput placeholder="Parent Name" [(ngModel)]="parent.user.name" [disabled]="parent.id">
                        </mat-form-field>
                        <mat-form-field class="w-100" color="accent">
                            <input matInput placeholder="Phone" type="phone" [(ngModel)]="parent.user.phone" [disabled]="parent.id">
                        </mat-form-field>
                        <mat-form-field class="w-100" color="accent">
                            <input matInput placeholder="Email Id" type="email" [(ngModel)]="parent.user.email" [disabled]="parent.id">
                        </mat-form-field>
                        <button *ngIf="i > 0 || parent.id" mat-raised-button class="float-right" (click)="removeParent(i)">
                            REMOVE PARENT
                        </button>
                    </div>
                </div>
                <button mat-raised-button color="accent" class="float-left" (click)="addParent($event)">
                    ADD PARENT
                </button>
            </div>
        </div>

        <button mat-raised-button color="accent" class="float-right" (click)="save($event)">
            DONE
        </button>
        <button mat-button class="float-right" style="margin-right:20px" (click)="cancel($event)">
            CANCEL
        </button>
    </div>
</div>