input {
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 14px;
	height: 40px;
}

button {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	height: 40px;
	border-radius: 3px;
}

.searchinput {
	color:#000;
	border-radius:0 4px 4px 0 !important;
}

.sigroup {
	-webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.dropdown-menu{
	max-height: 300px;
	width: 100% !important;
	overflow-y: scroll;
	margin-left:-40px;
	cursor:pointer;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 14px;
}

.dropdown-item {
	width: 100%;
	text-overflow: ellipsis;
	word-wrap: break-word;
	border-radius:0;
}

.dropdown-item:hover {
	background-color: #e91e63;
	color: #fff;
	cursor: pointer;
}

input:focus, textarea {
	border:0px solid transparent;
    box-shadow: 0 0 0px #719ECE;
}