<div class="row">
    <div class="col col-sm-12 col-lg-12 col-md-12">
        <div class="input-group float-left sigroup btn-group" style="width: 33.33%;">
            <span class="input-group-prepend">
                <div class="input-group-text bg-white border-0 border"><i class="fa fa-location-arrow"></i></div>
            </span>
            <input autocomplete="off" (keyup)="lnf=true" [(ngModel)]="locationNameFilter" class="form-control py-2 border-0 border searchinput dropdown-toggle" style="border-radius:0 4px 4px 0" type="search" id="locationInput" aria-haspopup="true" aria-expanded="false" placeholder="Search by Location" data-toggle="dropdown" (focus)="lnf=true">
            <div [hidden]="!lnf || (localityList | searchfilter: {'name': locationNameFilter} ).length == 0" class="dropdown-menu" aria-labelledby="locationInput" >
                <ng-container *ngIf="lnf">
                    <button (click)="setLocation(locality)" class="dropdown-item" *ngFor="let locality of localityList | searchfilter: {'name': locationNameFilter}; let i = index">{{locality['name']}}<small class="float-right mt-1 font-weight-bold" *ngIf="locality.isCity">CITY</small></button>
                </ng-container>
            </div>
        </div>
        <div class="input-group float-left ml-1 sigroup btn-group" style="width: calc(64.67% - 100px);" (focus)="showSuggestionsView" (blur)="hideSuggestionsView()">
            <span class="input-group-prepend">
                <div class="input-group-text bg-white border-0 border"><i class="fa fa-search"></i></div>
            </span>
            <input autocomplete="off" (focus)="showSuggestionsView = true" (blur)="hideSuggestionsView()" (keyup)="searchQuery($event)" [(ngModel)] = "queryFilter" class="form-control py-2 border-0 border searchinput dropdown-toggle" type="search" placeholder="Search by school name" id="query" data-toggle="dropdown">

            <div [hidden]="!showSuggestionsView" class="dropdown-menu" aria-labelledby="queryInput" >

                <ng-container *ngIf="showSuggestionsView && !showQueryListSuggestions && selectedLocation && (!selectedLocation['id'] || !queryList[selectedLocation['id']] || !queryList[selectedLocation['id']][queryFilter.substr(0, minQueryLength)] || !queryList[selectedLocation['id']][queryFilter.substr(0, minQueryLength)]['reqInProg'])">
                    <small style="margin-left:20px;font-weight: bold">SUGGESTED SEARCHES</small>
                    <button (click)="_filterQueryPath['pgc'] = 1;searchSchool(suggestedSearch)" *ngFor="let suggestedSearch of suggestedSearches" class="dropdown-item" >
                        <i [ngClass]="suggestedSearch.iconClass"></i>&nbsp;&nbsp;{{suggestedSearch.name}}
                    </button>
                </ng-container>

                <ng-container *ngIf="selectedLocation && selectedLocation['id'] && queryList[selectedLocation['id']] && queryList[selectedLocation['id']][queryFilter.substr(0, minQueryLength)] && queryList[selectedLocation['id']][queryFilter.substr(0, minQueryLength)]['reqInProg']">
                    <div class="w-100 text-center">
                        <img src="../../assets/img/page-loader.gif" alt="Loading..." style="height:30px">
                    </div>
                </ng-container>

                <ng-container *ngIf="showSuggestionsView && showQueryListSuggestions && selectedLocation['id'] && queryList[selectedLocation['id']] && queryList[selectedLocation['id']][queryFilter.substr(0, minQueryLength)]">

                    <div style="margin-left:20px;" *ngIf="(queryList[selectedLocation['id']][queryFilter.substr(0, minQueryLength)]['list'] | searchfilter: {'schoolName': queryFilter}).length == 0">
                        <button style="border: 0; outline: 0">No results found</button>
                    </div>

                    <button routerLink="/school/{{school.schoolId}}" class="dropdown-item" *ngFor="let school of queryList[selectedLocation['id']][queryFilter.substr(0, minQueryLength)]['list'] | searchfilter: {'schoolName': queryFilter}; let i = index"><i class="fa fa-university"></i>&nbsp;&nbsp;{{school['schoolName']}}</button>
                </ng-container>
            </div>
        </div>
        <button mat-raised-button type="button" class="btn float-left ml-1" [color]="getSearchButtonThemeColor()" style="height: 40px;width:100px"  (click)="_filterQueryPath['pgc'] = 1;searchSchool(null)">Search</button>
    </div>
</div>