<div class="row">
    <div class="col-1 col-sm-1 col-md-1 col-lg-1">
        <img src="../../assets/img/user-dummy.png" style="width:35px; height: 35px;">
    </div>
    <div class="col-11 col-sm-11 col-md-11 col-lg-11">
        <span class="link font-weight-bold" href="#">{{review["userName"]}}</span>
        <ng-container *ngIf="review['isSelfReview']">
            &nbsp;&nbsp;
            <i matTooltip="Edit review" class="fa fa-edit float-right" style="color:grey;cursor: pointer" (click)="showReviewModal()"></i>
        </ng-container>
        <app-rating [rating]="review['rating']" [mini]="true"></app-rating>
        <span class="text-justify">{{review["review"]}}</span>
        <br>
    </div>    
</div>
