<h4 class="card-title">Teacher Information</h4>
<p class="card-category">Enter information about teachers at {{school.name}}</p>
<br>

<div class="row">
	<div *ngIf="!inputType.value || inputType.value=='keyin'" class="col col-md-8">Enter teacher information</div>

  <div *ngIf="inputType.value=='csv'" class="col col-md-8">Upload the teacher data. You can download the <a href="https://s3.us-east-2.amazonaws.com/mgkslt-prod-public/schoolCreation/Teachers.xlsx.csv" style="color:#007dff" download>sample file</a> for reference.</div>

  <div class="col col-md-4">
    <mat-button-toggle-group class="float-right" #inputType="matButtonToggleGroup" value="keyin">
      <mat-button-toggle value="keyin" (change)="inputTypeChange('keyin')">
        <i class="fa fa-keyboard" aria-hidden="true" style="font-size:20px;"></i>
    </mat-button-toggle>
    <mat-button-toggle value="csv" (change)="inputTypeChange('csv')">
        <i class="fa fa-file-excel" aria-hidden="true" style="font-size:20px;"></i>
    </mat-button-toggle>
</mat-button-toggle-group>
</div>
</div>
<br>
<div class="row">
  <div class="col col-md-12 col-lg-12 col-sm-12" *ngIf="inputType.value=='csv'">
    <app-uploader type='csv' (onUpdate)="onFileUpload($event)"></app-uploader>
</div>

<div *ngIf="inputType.value=='keyin'" class="col col-md-12 col-lg-12 col-sm-12">
    <div class="row">
      <div class="col col-md-9 col-lg-9 col-sm-9">
        <mat-form-field color="accent" style="width: 100%">
          <input [(ngModel)]="teacherSearchText" name="search" matInput placeholder="Search teacher by name or employee id" type="search" [disabled]="!teachers || teachers.length == 0">
      </mat-form-field>
  </div>
  <div class="col col-md-3 col-lg-3 col-sm-3">
    <button mat-raised-button color="accent" class="float-right" (click)="showTeacherForm($event, null)">
      ADD TEACHER
  </button>
</div>
</div>
<div class="row" *ngIf="teacherDataLoading">
    <div class="col col-sm-12 col-md-12 col-lg-12 text-center">
        <img src="../../assets/img/page-loader.gif" alt="Loading..." style="height:30px">
    </div>
</div>
<div class="row" *ngIf="!teacherDataLoading && (!teachers || teachers.length == 0)">
    <div class="col col-sm-12 col-md-12 col-lg-12 text-center">
        <p style="color:grey;font-style: italic;">There are no teachers in this school. Start adding teachers by pressing the Add Teacher button</p>
    </div>
</div>
<div class="row" *ngIf="!teacherDataLoading && (teachers && teachers.length > 0)">
    <div class="col col-sm-12 col-md-12 col-lg-12 card-content table-responsive table-full-width">
        <table class="table">
            <thead class="text-rose">
                <th>Employee ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Class Teacher</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teachers | searchfilter: {'name': teacherSearchText, 'employeeId': teacherSearchText}; let i = index">
                    <td>{{teacher.employeeId}}</td>
                    <td>{{teacher.user.name}}</td>
                    <td>{{teacher.user.phone}}</td>
                    <td>{{teacher.user.email}}</td>
                    <ng-container *ngIf="teacher.ctClass">
                        <td>{{teacher.ctClass.standard}} - {{teacher.ctClass.section}}</td>
                    </ng-container>
                    <ng-container *ngIf="!teacher.ctClass">
                        <td>-</td>
                    </ng-container>
                    <td>
                        <div class="button-row">
                            <button mat-icon-button (click)="showTeacherForm($event, i)">
                                <mat-icon aria-label="Edit Teacher">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteTeacher($event, i)">
                                <mat-icon aria-label="Delete Teacher">delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>