.sidebar-container {
	-webkit-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
	height: 100vh;
	z-index: 11;
	width:260px;
}

.main-content {
	height: 100vh;
	background-color: #eee;
}

button{
	outline: none;
	box-shadow: none;
}