<div class="wrapper">
    <!-- <div class="sidebar-background" style="background-image: url(/role/assets/img/sidebar-4.jpg)"></div> -->
    <div class="main-panel">
        <mat-sidenav-container>
            <mat-sidenav fixedInViewport="Fixed" *ngIf="isSideBarActive" class="sidebar-container" mode="side" opened><app-sidebar></app-sidebar></mat-sidenav>
            <mat-sidenav-content class="main-content">
                <app-navbar></app-navbar>
                <div id="dummydiv" style="width:1px; height: 64px;"></div>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>