.absolute {
	position: absolute;
    left:47%;
    opacity: 1;
	z-index: 5;
	margin-top: 5vh;
}

.carousel-image {
	width: 100%;
	height: 50vh;
}

.black-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
}

.carousel-item-background {
	background-size: cover;
}

.carousel-item-title {
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 170px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:200;
	font-family: 'Roboto';
	font-weight: 100;
}

.searchInputDiv {
	margin-top: -20vh;
}
