<div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-12">
        <img class = "absolute" src="../assets/img/final_logo.png" width="120" height="100">
        <div class="carousel slide" data-ride="carousel" style="height: 50vh">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block img-fluid carousel-image carousel-item-background" style="background-size: cover; background-image: url('https://s3.us-east-2.amazonaws.com/mgkslt-prod-public/images/search_carousel_1.jpg')">
                        <h2 class="carousel-item-title">Find the best schools in your city</h2>
                        <div class="black-overlay"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block img-fluid carousel-image carousel-item-background" style="background-size: cover; background-image: url('https://s3.us-east-2.amazonaws.com/mgkslt-prod-public/images/search_carousel_2.jpg')">
                        <h2 class="carousel-item-title">Get genuine parent feedback on schools</h2>
                        <div class="black-overlay"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block img-fluid carousel-image carousel-item-background" style="background-size: cover; background-image: url('https://s3.us-east-2.amazonaws.com/mgkslt-prod-public/images/search_carousel_3.jpg')">
                        <h2 class="carousel-item-title">Send an enquiry with a single click</h2>
                        <div class="black-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="searchInputDiv row">
            <div class="col col-md-3 col-lg-3 col-sm-1"></div>
            <div class="col col-md-6 col-lg-6 col-sm-10">
                <app-school-search></app-school-search>
            </div>
            <div class="col col-md-3 col-lg-3 col-sm-1"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-12" >
        
    </div>
</div>