/* You can add global styles to this file, and also import other style files */
button {
	outline: none;
	box-shadow: none;
}

.mat-flat-button, .mat-button, .mat-icon-button, .mat-stroked-button {
	height: 40px;
	text-transform: uppercase;
	font-size: 12px !important;
	outline: none !important;
	box-shadow: none !important;
}

.mat-checkbox-layout { white-space: normal !important; }
.mat-radio-label { white-space: normal; }

[data-notify="container"][class*="alert-"] {
	border-radius: 5px;
	letter-spacing: 1px;
	border: 0;
	color: #fff;
}

[data-notify="container"].alert-info {
	background-color: #419EFB;
}

[data-notify="container"].alert-danger {
	background-color: #FF5D5D;
}

[data-notify="container"].alert-warning {
	background-color: #FBD641;
}

[data-notify="container"][class*="alert-"] > [data-notify="title"] {
	color: rgb(80, 80, 57);
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}
[data-notify="container"][class*="alert-"] > [data-notify="message"] {
	font-weight: 400;
}

.facility-icons {
	width: 20px;
}