<div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <h2 class="font-weight-light">Write a review for {{ratingReview.schoolName}}</h2>
    </div>
</div>
<div class="w-100 mt-1">
    <p>Rate this school</p>
    <div class="text-center">
        <app-rating [rating]="ratingReview.rating" [allowEditing]="true" (onUpdate)="setRating($event)"></app-rating>
    </div>
</div>
<br>
<div>
    <form class="w-100">
        <mat-form-field class="w-100" color="accent">
            <textarea matInput (keyup)="ratingReview.review = $event.target.value;" [value]="ratingReview.review" matTextareaAutosize minRows="6" rows="6" placeholder="Share your experience of this school. (min. 140 characters)" required></textarea>
            <small *ngIf="ratingReview.review.length < 140" class="float-right charCount">{{ratingReview.review.length}}/140</small>
            <small *ngIf="ratingReview.review.length >= 140 && ratingReview.review.length < 1000" class="float-right charCount">{{ratingReview.review.length}}/1000 (max)</small>
            <small *ngIf="ratingReview.review.length >= 1000" class="float-right charCountExceeded">Please confine review to 1000 characters</small>
        </mat-form-field>

        <mat-form-field class="w-100" color="accent">
            <mat-select placeholder="How are you associated with this school?" [(ngModel)]="ratingReview.selectedAssociationType" name="associationType" required>
                <mat-option *ngFor="let associationType of associationTypes" [value]="associationType.id">
                  {{associationType.displayValue}}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <!-- <mat-checkbox matInput [(ngModel)]="postAnonymously" name="postAnonymously">Post anonymously</mat-checkbox>
      <br>

      <div *ngIf="reviewImageFilePreview" class="w-100 text-center">
        <img [src]="reviewImageFilePreview" style="height: 100px;">
        <br>
        <button *ngIf="reviewImageFilePreview" mat-button color="accent" class="mt-1" (click)="clearReviewImage(event)">
            Remove Image
        </button>
    </div> -->
    <!-- <button *ngIf="!reviewImageFilePreview" mat-stroked-button color="accent" (click)="fileInput.click()">
        <i class="fa fa-image">&nbsp;&nbsp;&nbsp;</i>
        <span>Add a photo to your review</span>
        <input #fileInput type="file" accept="image/*" (change)="onReviewImageUpload($event)" style="display:none;" />
    </button> -->

    <button mat-raised-button color="accent" class="float-right" (click)="submitReview($event)">SUBMIT</button>
    <button mat-button class="float-right" style="margin-right:10px" (click)="close($event)">CANCEL</button>
</form>
</div>